
 body {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
 }
/*=========main video confrancing container =======*/
 .container-fluid{
  position:absolute ;
  background-color: paleturquoise;
}
/*=========remote video section =======*/
.container-fluid .abcd{
   width: 100%;
   background-color: #fff;
}
.container-fluid .abcd #videos {
  width: 100%;
}
.container-fluid .abcd #videos video{
   width: 50%;
   padding: 5px;
 }
 /*=========host video/bottom-navbar section =======*/
 .container-fluid .navbar {
  overflow: hidden;
  background-color: #2d1d47; 
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 14vh;
  padding:0;
}
.container-fluid .navbar ul{
  width: 75%;
  padding: 0;
  border: 1px solid #fff;
  }
  .container-fluid .navbar ul li {
  padding: 0;
  margin-left: 10%;
  list-style: none;
  display: inline;
  line-height: 1.5;
  font-family:  sans-serif;
  color: #fff;
}
.container-fluid .navbar #video-grid {
width: 20%;
}
.container-fluid .navbar #video-grid video{
  width: 100%;
}


@media(min-width:1200px){
  
  .container-fluid .abcd #videos video{
     width: 20%;
     padding: 5px;
   }
   /*=========host video/bottom-navbar section =======*/
   .container-fluid .navbar {
    height: 16vh;
  }
  .container-fluid .navbar ul{
    width: 85%;
    }
    
  .container-fluid .navbar #video-grid {
  width: 10%;
  }    
 }

@media(min-width:992px)and (max-width:1199px){

}
@media(min-width:768px)and (max-width:991px) {
 
}
@media(min-width:576px)and (max-width:767px){
  .container-fluid .abcd #videos video{
    width: 20%;
    padding: 5px;
  }
  /*=========host video/bottom-navbar section =======*/
  .container-fluid .navbar {
   height: 20vh;
 }
 .container-fluid .navbar ul{
   width: 85%;
   }
   
 .container-fluid .navbar #video-grid {
 width: 15%;
 }
}